<div id="create-room-form">
    <form class="mt-3" novalidate autocomplete="off">
        <label class="label" for="room-code">Room Code *</label>
        <div class="field mb-3 has-addons">
            <div class="control is-expanded">
            <input class="input" id="room-code" type="text" name="roomCode" placeholder="(Required)">
            </div>
            <div class="control">
            <a class="button">
                <i class="fas fa-sync"></i>
            </a>
            </div>
        </div>
        <div class="field mb-3">
            <label class="label" for="name">Name *</label>
            <div class="control">
            <input class="input" id="name" name="name" type="text" placeholder="(Required)">
            </div>
        </div>
        <div class="field">
            <label for="cardset" class="label">Cardset *</label>
            <div class="control">
                <div class="select">
                    <select id="cardset">
                    <option>Select Cardset</option>
                    <option>1</option>
                    <option>2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field mt-3 is-flex is-flex-direction-row-reverse">
            <p class="control">
            <button class="button is-success is-rounded">
                Create
            </button>
            </p>
        </div>
    </form>
</div>
