<div class="container is-fluid mt-6">
    <div class="columns box is-mobile" id="lobby">
        <div class="column is-3">
            <div class="is-flex is-justify-content-space-between is-align-content-center">
                <h1 class="title">Items</h1>
                <button class="button">
                    <span class="icon is-small">
                      <i class="fas fa-bold"></i>
                    </span>
                  </button>
            </div>
            
        </div>
        <div class="column is-9">
            <h1 class="title">Scrumchum</h1>
        </div>
    </div>
</div>