<div class="container is-fluid mt-6">
    <div class="columns box is-mobile" id="lobby">
        <div class="column is-3">
            <p class="mb-2 is-size-5">Welcome {{userName}} - {{roomCode}}</p>
            <article class="panel is-info">
                <p class="panel-heading is-flex is-justify-content-space-between is-align-items-center">
                    <span>Items</span>
                    <i class="fas fa-plus fa-fw is-clickable" (click)="openItemModal()"></i>
                </p>
                <div id="items">
                    <div class="panel-block">
                        <p class="control has-icons-left">
                          <input class="input" type="text" placeholder="Search">
                          <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                          </span>
                        </p>
                      </div>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        Item 1
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        Item 2
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        Item 3
                    </a>
                </div>
            </article>
            <article class="panel is-info">
                <p class="panel-heading">Users</p>
                <div id="users" *ngFor="let u of this.users; let i = index">
                    <a class="panel-block is-flex is-justify-content-space-between">
                        <div class="is-flex is-align-items-center">
                            <span class="panel-icon">
                                <i class="fas fa-wifi has-text-success" aria-hidden="true"></i>
                            </span>
                            {{u.name}}
                        </div>
                        <i class="fas fa-vote-yea" *ngIf="i === 1 || i === 3"></i>
                    </a>
                </div>
            </article>
        </div>
        <div class="column is-9">
            <div class="is-flex is-justify-content-space-between is-align-content-center">
                <h1 class="title">Scrumchum</h1>
                <button class="button is-danger" (click)="leaveRoom()">Leave Room</button>
             </div>
            <div id="results">
                <div id="selected-item">
                    <div class="is-flex is-justify-content-space-between">
                        <h1 class="title is-2">Item 1 title</h1>
                        <div class="field is-grouped">
                            <p class="control">
                              <button class="button" [disabled]="true">
                                Reveal
                              </button>
                            </p>
                            <p class="control">
                              <button class="button">
                                Reset
                              </button>
                            </p>
                          </div>
                    </div>
                    <p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>
                </div>
            </div>
            <app-cards></app-cards>
        </div>
    </div>
</div>
<app-modal [isActive]="isModalActive" (closeModalEvent)="closeItemModal()" title="New Item">
    <app-create-item-form #content></app-create-item-form>
</app-modal>