<div id="join-room-form">
    <form cclass="mt-3" novalidate autocomplete="off" (ngSubmit)="onSubmit(joinRoomForm)" #joinRoomForm="ngForm">
        <label class="label" for="room-code">Room Code *</label>
        <div class="field mb-3">
            <div class="control is-expanded">
                <input class="input" id="room-code" type="text" name="roomCode" placeholder="(Required)" required
                [(ngModel)]=model.roomCode #roomCodeVar="ngModel"
                [ngClass]="{'is-danger': (roomCodeVar.touched || roomCodeVar.dirty) && !roomCodeVar.valid}">
                <p class="help is-danger" *ngIf="roomCodeVar.touched && roomCodeVar.errors?.required">
                    <span>Room Code is required</span>
                </p>
            </div>
        </div>
        <div class="field mb-3">
            <label class="label" for="name">Name *</label>
            <div class="control">
                <input class="input" id="name" name="name" type="text" placeholder="(Required)" required
                    [(ngModel)]=model.name #nameVar="ngModel"
                    [ngClass]="{'is-danger': (nameVar.touched || nameVar.dirty) && !nameVar.valid}">
                    <p class="help is-danger" *ngIf="nameVar.touched && nameVar.errors?.required">
                        <span>Name is required</span>
                    </p>
            </div>
        </div>
        <div class="field">
            <label class="label" for="name">User Type *</label>
            <div class="control">
                <div class="select">
                    <select id="userType" name="userType" required [(ngModel)]=model.userType #userTypeVar="ngModel"
                        [ngClass]="{'is-danger': (userTypeVar.touched || userTypeVar.dirty) && !userTypeVar.valid}">
                        <option selected disabled hidden>Select User Type</option>
                        <option value="1">Product Owner</option>
                        <option value="2">Dev</option>
                        <option value="3">QA</option>
                        <option value="4">Other</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field mt-3 is-flex is-flex-direction-row-reverse">
            <p class="control">
                <button class="button is-success is-rounded" [disabled]="!joinRoomForm.valid || loading" [ngClass]="{'is-loading': submitting}">Join</button>
            </p>
        </div>
    </form>
</div>
