<!-- <app-navbar></app-navbar> -->
<div class="container">
  <div class="columns box" id="landing">
    <div class="column is-half p-4">
      <h1 class="title is-2 has-text-centered">Scrumchum</h1>
      <figure class="image is-5by4">
        <img src="../assets/landing.svg">
      </figure>
    </div>
    <div class="column is-half">
      <div class="tabs is-medium is-centered">
        <ul>
          <li (click)="changeTab('create')" [ngClass]="{'is-active': currentTab === 'create'}">
            <a>Create Room</a>
          </li>
          <li (click)="changeTab('join')" [ngClass]="{'is-active': currentTab === 'join'}">
            <a>Join Room</a>
          </li>
        </ul>
      </div>
      <h1 class="title is-2 has-text-centered">Logo Goes Here</h1>
      <create-room-form *ngIf="currentTab === 'create'"></create-room-form>
      <join-room *ngIf="currentTab === 'join'"></join-room>
    </div>
  </div>
</div>
<router-outlet></router-outlet>